body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    padding: 4px 16px;
}

.left-content {
    font-size: 24px;
    color: #F9FAF8;
}

.right-content .header-links {
    display: flex;
    list-style-type: none;
    gap: 5px
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero-section {
   background-color: #1F2937; 
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   padding: 50px;
}

.intro {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#main-title {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
    margin: 10px 0 0 0;

}

.intro p {
    margin: 0;
    color: #E5E7EB;
}

.intro button {
    background-color: #3882F6;
    width: 160px;
    border: #3882F6 solid 2px;
    color: #F9FAF8;
    border-radius: 5%;
    padding: 3px 2px;
    font-weight: bold;
}